@font-face {
  font-family: 'Agustina Regular';
  src: url('/font/Agustina.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/font/Inter-Variable.woff2') format('woff2-variations'),
       url('/font/Inter-Variable.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
