// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'sass:map';
@include mat.core();

html {
  $palettes: (
    primary: (
      0:   #000000,
      10:  #0b1b4d,
      20:  #142f8a,
      25:  #1a3aa6,
      30:  #1e40af,
      35:  #2147c5,
      40:  #2563eb,
      50:  #4f7df3,
      60:  #7aa2f7,
      70:  #a5c3fb,
      80:  #c7dbfd,
      90:  #dbeafe,
      95:  #eff6ff,
      98:  #f8fbff,
      99:  #f8fbff,
      100: #ffffff,
    )
  );

  @include mat.theme((
    color: (
      theme-type: dark,
      primary: map.merge(map.get($palettes, primary), mat.$blue-palette),
      use-system-variables: false
    ),
    typography: (
      use-system-variables: false,
      brand-family: Roboto,
      plain-family: Roboto,
    ),
    density: -2,
  ));
}

body {
  color-scheme: dark;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: var(--md-background);
  color: var(--md-on-background);
}

 html, body {
  height: 100%;
}
