@if (showSplash()) {
  <app-welcome-animation (finished)="onSplashFinished()"></app-welcome-animation>
} @else {
  <app-header />
  <main>
    @for (section of sections; track section) {
      @switch (section) {
        @case ('about') { <app-hero /> }
        @case ('experience') { <app-experience sectionId="experience" /> }
        @case ('education') { <app-experience sectionId="education" /> }
        @case ('skills') { <app-skills /> }
        @case ('projects') { <app-projects /> }
        @case ('contact') { <app-contact /> }
      }
    }
  </main>
  <app-footer />
}
