@use "../../_globalColor" as globalColors;

.footer-text {
  text-align: center;
  color: globalColors.$subTitle !important;
}

.dark-mode {
  color: globalColors.$textColorDark !important;
}

.footer-div {
  margin-top: 2rem;
  padding-bottom: 1rem;
}
