@use "./globalColor" as globalColors;

.App {
  text-align: center;
  width: 100%;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: globalColors.$appHeaderBG;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(0.625rem + 2vmin);
  color: globalColors.$textColorDark;
}

.App-link {
  color: globalColors.$appLink;
}

.subTitle {
  color: globalColors.$subTitle;
}
